node_modules
.DS_Store
.npmrc
.changelog
.dccache
.idea
package-lock.json
yarn.lock

# Ignore all error logs.
*.log

# Ignore external workspaces.
sui-css
sui-react
sui-icons

# Ignore Storybook production build.
storybook-static
